@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

.about_content {
    display: flex;
    margin-top: 75px;
    align-items: center;
    margin-bottom: 80px;
}

.text_content {
    max-width: 700px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 50px;
    margin-right: 24px;
}

.text_content h3 {
    font-weight: normal;
    font-size: 60px;
}

.text_content p {
    font-size: 24px;
    font-weight: 300;
    line-height: 2;
}

p.sign {
    font-size: 36px; 
    font-weight: normal;
    margin-bottom: 0;
}

@media screen and (max-width: 1062px) {
    .photo img {
        width: 600px;
    }

    .text_content {
        margin-left: 35px;
    }

        .text_content h3 {
            font-size: 50px;
        }

    .text_content p:not(.sign) {
        font-size: 22px;
        font-weight: 300;
        line-height: 2;
    }
}

@media screen and (max-width: 843px) and (min-width: 771px){
    .photo img {
        width: 500px;
    }

    .text_content {
        margin-left: 35px;
    }

        .text_content h3 {
            font-size: 45px;
        }

    .text_content p:not(.sign) {
        font-size: 20px;
        font-weight: 300;
        line-height: 1.75;
    }
}

@media screen and (max-width: 770px) {
    .photo img {
        width: 100%;
    }

    .about_content {
        flex-wrap: wrap;
        margin-bottom: 45px;
        margin-top: 0;
    }
}

@media screen and (max-width: 321px) {
    .text_content h3 {
        font-size: 30px;
    }

    .text_content p:not(.sign) {
        font-size: 18px;
    }

    p.sign {
        font-size: 18px; 
    }
}